/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}

/* inicio style*/
.paragrafo {
    font-weight: 300;
    font-size: 20px;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
#logo-container{
	width: 50px;
	height: auto;
}

.logo {
	 width: 70%;
    height: auto !important;
}

.personal-grey{
    background-color: #e5e5e5 !important;
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    
    background-color: #9ca1a7 !important;
}
.footer-copyright{
    font-weight: 300;
    font-size: 16pt;
}
.slider .indicators .indicator-item {
  border-radius: 25px;
  background-color: #666666;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    
}
.slider .indicators .indicator-item.active {
  background-color: #ffffff;
}

nav ul a {
    color: black;
    font-size: 15pt;
}
.slider {
  border-radius: 25px;
  width: auto;
  margin: 0 auto;
  margin-top: 5px;
  margin-right: 50px;
  margin-left: 50px;
  
}
.slider img {
    border-radius: 25px;
    height: auto;
    width: auto;
}
.slider .indicators {
  bottom: 60px;
  z-index: 100;
    
  /* text-align: left; */
}
/*fim inicio style*/

/* inicio sobre stye*/
.paragraphs p{
    font-size: 18px;
    text-align: justify;
}

.row .col.s8{
    margin-left: 25px;
}
.span5 img{
    max-width:400px;
    width:50%;
    height:auto;
    background-size:100%;
    background-repeat:no-repeat;
    float:left;
}


.jumbotron.vertical-center {
  margin-bottom: 0; /* Remove the default bottom margin of .jumbotron */
  margin-left: auto;
}

.vertical-center {
  min-height: 100%;  /* Fallback for vh unit */
  min-height: 100vh; /* You might also want to use
                        'height' property instead.
                        
                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.
  
                        In this case the parent of '.vertical-center'
                        is the <body> element */

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;
  
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}
/* fim sobre stye*/
/* inicio contato */
.map iframe{
    display: inline-block;
    zoom: 3;
     margin: 0 auto;
    width: 100%;
    height: 50%;

}

